
body
{
	height: 100%;
	background: linear-gradient(to left,#CB356B,#BD3F32);

	color: white;	
	background-size: cover;
}

h1
{
	font-family: 'Merienda One', cursive;
}

.tophead
{
	font-family: sans-serif;
	font-size: 16px;
	text-align: center;
}

.intro
{
	margin: 50px 20px 50px 20px;
}

.pct
{
	float: left;
	clear: both;
}

.intro h3
{
	font-family: Merienda one;
	text-align: center;
	font-size: 28px;
}


.intro p
{
	font-family: 'Arima Madurai', cursive;
	text-align: center;
	height: auto;
	margin: 10px;
	font-size: 18px;
	text-decoration: none;

}

a
{
	color: white;
	text-decoration: none;
	font-size: 20px;
	font-family: Merienda one;
}

a:hover
{
	text-decoration: underline solid;
	transition: 0.5s;
	color: white;
}

img
{
	display: inline-block;
	width: 100%;
 	height: auto;
 	border-radius: 20px;
}

i:hover
{
	color: black;
	transition:0.5s;
}


