body
{
	background: linear-gradient(to right, #6b5b95 -100%, #2e4a62 100%);
	color: white;	
}

h1
{
	font-family: 'Merienda One', cursive;
}
.tophead
{
	font-family: sans-serif;
	font-size: 16px;
	text-align: center;
}

.intro
{
	margin: 50px 20px 50px 20px;
}

.pct
{
	float: left;
	clear: both;
}

.intro h3
{
	font-family: Merienda one;
	text-align: center;
	font-size: 28px;
}


.intro p
{
	font-family: 'Arima Madurai', cursive;
	text-align: center;
	height: auto;
	margin: 0px 100px 0px 470px;
	font-size: 18px;
	text-decoration: none
}

a
{
	color: white;
	text-decoration: none;
	font-size: 20px;
	font-family: Merienda one;
}

a:hover
{
	text-decoration: underline solid;
	transition: 0.5s;
	color: white;
}

